<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Test" verbose="1" >
    <test name="Utilities">
        <classes>
            <class name="parameterTestNG.KiemThuVoiParameter">
                <parameter name="thegioididong" value="https://www.thegioididong.com/"></parameter>
<!--                <parameter name="url" value="trang website của thế giới di động"></parameter>-->
            </class>
        </classes>
    </test>
</suite>